@(request: play.api.mvc.RequestHeader, resetForm:play.api.data.Form[(String, String)], token: String)
@import helper._
@import securesocial.core.IdentityProvider
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }


	<div class="container">
   		<div class="row">
   			<div class="span12">
   				<div class="page-header">
        			<h1>@Messages("securesocial.password.title")</h1>
    			</div>
   			</div>
		</div>
		<div class="row">
   			<div class="span12">
			    @request.flash.get("error").map { msg =>
			        <div class="alert alert-error">
			            @Messages(msg)
			        </div>
			    }
			    <form action="@securesocial.core.providers.utils.RoutesHelper.handleResetPassword(token).absoluteURL(IdentityProvider.sslEnabled)(request)"
			          class="form-horizontal"
			          autocomplete="off"
			          method="POST"
			    >
			        <fieldset>
			            @helper.inputPassword(
			            resetForm("password.password1"),
			            '_label -> Messages("securesocial.signup.password1"),
			            'class -> "input-xlarge",
			            '_showConstraints -> false
			            )
			            @helper.inputPassword(
			            resetForm("password.password2"),
			            '_label -> Messages("securesocial.signup.password2"),
			            '_error -> resetForm.error("password"),
			            'class -> "input-xlarge",
			            '_showConstraints -> false
			            )
			            <div class="form-actions">
			                <button type="submit" class="btn btn-primary">@Messages("securesocial.password.reset")</button>
			            </div>
			        </fieldset>
			    </form>
		    </div>
		</div>
	</div>

