@(images: Map[String, String], keys: Map[String, String], groups: Map[String, String], types: Map[String, String], createInstanceForm: Form[CreateInstance])
@import helper._
@implicitFieldConstructor = @{ FieldConstructor(securesocial.views.html.inputFieldConstructor.f) }

@main("Aws Console") {
	<div class="container">
      	<div class="row">
      		<div class="span12">
      			@form(action = routes.Application.doCreateInstance(), 'class -> "form-horizontal") {
      				<fieldset>
      					@select(
			                createInstanceForm("ImageId"), 
			                options(images), 
			                '_label -> "Image", '_default -> "-- Choose an image --",
			                '_showConstraints -> false
			            )
	      				@inputText(
		                    createInstanceForm("Name"),
		                    '_label -> "New instance Name",
		                    'class -> "input-xlarge"
		                )
		                @select(
		                	createInstanceForm("Type"), 
			                options(types), 
			                '_label -> "Type", '_default -> "-- Choose a type --"
		                )
		                @select(
			                createInstanceForm("Group"), 
			                options(groups), 
			                '_label -> "Firewall", '_default -> "-- Choose a firewall --",
			                '_showConstraints -> false
			            )
			            @select(
			                createInstanceForm("Key"), 
			                options(keys), 
			                '_label -> "SSH Key", '_default -> "-- Choose a key --",
			                '_showConstraints -> false
			            )
			            @checkbox(
			                createInstanceForm("powerSaveMode"), 
			                '_label -> "Power Save Mode",
			                '_showConstraints -> false
			            )
		                <div class="form-actions">
		                	<button type="submit" class="btn btn-primary">Create Instance</button>
		            	</div>
  					</fieldset>
  				}
      		</div>
  		</div>
  		<div class="row">
      		<div class="span12">
      			<h3>Notes</h3>
      			<ol>
      				<li>Choose firewall: <strong>Http-Default</strong> for http, https, and ssh open</li>
      				<li>Choose firewall: <strong>Datastax</strong> for Cassandra that is blocked other than to Http-Default</li>
      				<li>Make sure the firewall setting is correct. It cannot be changed later</li>
      				<li>Make sure you have the key that you choose. It cannot be changed later</li>
      				<li>Cassandra does <strong>not</strong> work on micro size. Use small for Dev and large at least for production</li>
      				<li>For Cassandra, change the 3 ips in /etc/cassandra/cassandra.yaml to point to the local ip address</li>
      				<li>For Play, setup the upstart conf file to start up the service</li>  
  				</ol>
      		</div>
  		</div>
 	</div>
}