<!DOCTYPE html>
<html>
    <head>
    	<meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>AWS Console</title>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch/2.3.1/united/bootstrap.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("bootswatch/2.3.1/default/bootstrap-responsive.min.css"))'>
        <link rel='stylesheet' href='@routes.WebJarAssets.at(WebJarAssets.locate("font-awesome/3.1.1/css/font-awesome.min.css"))'>
        <link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body class="preview">
 		<div class="navbar navbar-fixed-top">
   			<div class="navbar-inner">
     			<div class="container">
       				<a class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
				         <span class="icon-bar"></span>
       				</a>
       				<a class="brand" href="/">AWS Console</a>
       				<span data-bind="module: 'navigation'"></span>
				    <ul class="nav pull-right">
				    	<li><a href="@securesocial.core.providers.utils.RoutesHelper.logout()">Logout</a></li>
				    </ul>				    
     			</div>
   			</div>
 		</div>
        <div class="container" data-bind="module: { name: $root.currentModule }"></div>
	 	<div id="loginModal" class="modal hide fade" tabindex="-1" role="dialog" aria-hidden="true">
			<div class="modal-header">
		 		<h3>Login</h3>
			</div>
			<div class="modal-body">
		 		<form id="loginForm" action="/authenticate/userpass" class="form-horizontal" method="POST">
		        	<fieldset>
		            	<div class="control-group" id="username_field">
		 					<label class="control-label" for="username">Email</label>
		 					<div class="controls">
		     					<input type="text" id="username" name="username" class="input-xlarge" />
							</div>
						</div>
						<div class="control-group" id="password_field">
		 					<label class="control-label" for="password">Password</label>
		 					<div class="controls">
		       					<input type="password" id="password" name="password" class="input-xlarge" />
							</div>
						</div>
		         	</fieldset>
		         </form>
			</div>
			<div class="modal-footer">
		 		<button class="btn btn-primary" data-bind="click: doLogin">Login</button>
			</div>
		</div>
        <pre data-bind="text: ko.toJSON($data, null, 2)"></pre>
        <script data-main="/assets/main.js" type='text/javascript' src='@routes.WebJarAssets.requirejs'></script>
    </body>
</html>